<div class="bg-light lt b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">{{pageTitle}}</h1>
    </div>
  </div>
</div>


<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col">
    <!-- / main header -->
    <div class="wrapper-md">
   
<!-- Coupons -->
      <div class="row" ng-show="coupons">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              All Coupons
            </div>
            <table class="table table-striped m-b-none">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Locations</th>
                  <th>Expiration</th>
                  <th>Company Name</th>
                  <th>Merchant</th>
                 
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="c in coupons">                    
                  <td>{{c.get('title')}}</td>
                  <td>{{c.getLocationTitle()}}</td>
                  <td>{{c.get('expiration')}}</td>
                  <td>{{c.get('company').get('name')}}</td>
                  <td>{{c.get('company').get('merchant').get('email')}}</td>
                 
                  
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- /Coupons -->





<!-- Locations -->
      <div class="row" ng-show="locations">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              All Locations
            </div>
            <table class="table table-striped m-b-none">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Coordinates</th>
                  <th>Owner</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="c in locations">                    
                  <td>{{c.get('name')}}</td>
                  <td>{{c.get('address')}}</td>
                  <td>({{c.get('location').latitude}}, {{c.get('location').longitude}})</td>
                  <td>{{c.companyName}}</td>
                  
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- /Locations -->





<!-- Photopons -->
      <div class="row" ng-show="photopons">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              All Photopons
            </div>
            <table class="table table-striped m-b-none">
              <thead>
                <tr>
                  <th>Creator</th>
                  <th>Coupon Title</th>
                  <th>Company</th>
                  <th>Redeemed</th>
                  <th>Shared With</th>
                  <th>Picture</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="c in photopons">                    
                  <td>{{c.get('creator').get('username')}}</td>
                  <td>{{c.get('coupon').get('title')}}</td>
                  <td>{{c.get('coupon').get('company').get('name')}}</td>
                  <td>{{c.get('numRedeemed') || 0}}</td>
                  <td>{{c.userList}}</td>
                  <td><button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-photo"></i>Show Picture</button></td>                  
                  
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- /Photopons -->








    </div>
  </div>

</div>
